---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from "./FooterMenu.astro";
---

<section
  class="landing-section relative h-screen w-screen overflow-hidden bg-black text-center"
  data-header-color={color}
  id={id}
>
  <div class="relative z-30 flex h-full flex-col">
    <header>
      <h2 class={`${textColor} pt-40 text-[40px] font-medium`}>
        {title}
      </h2>
      <p class={`${textColor} text-sm`}>
        {subtitle}
      </p>
    </header>

    <footer class="flex flex-grow flex-col justify-end pb-20">
      <slot name="footer" />
      <!-- Contidionally load footer: -->
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute bottom-0 top-0 z-10 h-full w-full">
    <slot name="background" />
  </div>
</section>
